
@model List<Cours>





        @foreach (var item in Model)
            {
                <li class="d-flex px-3">
                    <a asp-controller="Course" asp-action="CourseDetail" asp-route-id="@item.Id">
                        @item.Name
                        </a>
                </li>
            }